li {
  list-style: none;
}

section {
  background: #ebeaeb;
  margin: 0px auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section-notification .nav {
  display: flex;
  background: #333;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 23px 30px -20px rgba(0,0,0,0.4);
}

.section-notification .nav > li {
  padding: 20px 30px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: rgba(255,255,255,0.6);
  position: relative;
  transition: all 200ms ease-in-out;
  perspective: 1000px;
}

.section-notification .nav > li:last-child {
  border-right: none;
}

.section-notification .nav > li.is-active {
  box-shadow: 0px -4px 0px #0097a7 inset;
  background: #222;
  color: white;
}

.section-notification .nav > li.is-active .notifications {
  display: flex;

}

.section-notification .notifications {
  background: #0097a7;
  display: none;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  padding: 0px 10px;
  margin-bottom: 10px;
  margin-left: -95px;
  cursor: default;
}

.section-notification .notifications:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0,151,167,0);
  border-top-color: #0097a7;
  border-width: 16px;
  margin-left: -16px;
}

.section-notification .notifications li {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 18px;
}

.section-notification .notifications li span {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}